section {
  display: flex;
  flex-direction: column;
  height: 100%;

  &.hidden {
    display: none;
  }
}

section#waiting {
  .waiting {
    @include h1-font;
    margin: auto;

    span {
      animation-name: waiting-indicator;
      animation-duration: 1.4s;
      animation-iteration-count: infinite;
      animation-fill-mode: both;

      &:nth-child(2) {
        animation-delay: 0.2s;
      }

      &:nth-child(3) {
        animation-delay: 0.4s;
      }
    }
  }

  @keyframes waiting-indicator {
    0% {
      color: $white;
    }

    20% {
      color: $pink;
    }

    100% {
      color: $white;
    }
  }
}

section#quack {
  .scores {
    @include body-font;
    display: flex;
    flex-wrap: wrap;
    font-weight: 500;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 50vh;
    padding: $grid * 2;
    width: 100%;

    @at-root .buzzer-active & {
      visibility: hidden;
    }

    span:first-of-type {
      padding-left: $grid * 2;
    }

    span:last-of-type {
      padding-right: $grid * 2;
      opacity: 0.6;
    }

    .scorebar {
      $height: $grid * 3;
      background: $darker-purple;
      border-radius: $height / 2;
      display: flex;
      height: $height;
      justify-content: flex-end;
      position: relative;
      margin-top: $grid / 2;
      width: 100%;

      span {
        box-sizing: border-box;
        height: 100%;
      }

      span:first-of-type {
        background: $purple;
        border-radius: $height / 2;
        position: absolute;
        text-align: left;
        left: 0;
      }
    }
  }
}

section#card {
  $card-width: 36vh;
  $card-height: $card-width * 3 / 2;

  .cards {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    position: relative;
  }

  @mixin card {
    border-radius: $grid;
    height: $card-height;
    width: $card-width;
  }

  .active-card {
    @include card;
    @include h2-font;
    background: $white;
    color: $purple;
    display: flex;
    flex-direction: column;
    position: relative;

    .secret-word {
      background: $dark-pink;
      border-radius: $grid * 5 / 2 $grid * 5 / 2 0 0;
      border: $grid * 3 / 2 $white solid;
      color: $white;
      padding: $grid * 4 0 $grid * 3;
    }

    span {
      margin-bottom: $grid * 3;
    }
  }

  .background-cards {
    @include card;
    background: $purple;
    opacity: 0.5;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(10deg);

    &::before,
    &::after {
      @include card;
      background: $purple;
      content: '';
      display: block;
      opacity: 0.5;
      position: absolute;
      top: 0;
      transform: rotate(15deg);
    }

    &::before {
      transform: rotate(-20deg);
    }
  }

  .timer {
    @include body-font;

    .timerbar {
      $height: $grid * 2;
      background: $darker-purple;
      border-radius: $height / 2;
      height: $height;
      margin: $grid auto;
      max-width: 50vh;
      position: relative;
      width: 100%;

      span {
        background: $purple;
        border-radius: $height / 2;
        display: block;
        height: 100%;
        position: absolute;
        width: 50%;
      }
    }
  }

  .scores {
    display: flex;
    justify-content: center;;

    span {
      $height: 4vh;
      align-items: center;
      background: $purple;
      border-radius: $grid / 2;
      display: flex;
      font-size: 2vh;
      height: $height;
      justify-content: center;
      margin: $grid;
      width: $height * 2 / 3;

      &::before {
        content: '✔';
      }
    }
  }
}
