<%- include('../partials/header', {title: 'Lobby', name: 'lobby'}) %>

<%- include('../partials/instructions') %>

<button id="new-session-button" onclick="createNewSession()">
  new session
</button>

<% for (var sessionName of sessionNames) { %>
<button>
  <%= sessionName %>
</button>
<% } %>

<script src="js/button.js"></script>
<script src="js/lobby.js"></script>

<%- include('../partials/footer') %>
