@@include('./includes/instructions.html')

<h2>new session</h2>

<h3>difficulty</h3>
<div class="difficulty">
  <label class="radio">
    <input checked type="radio" name="difficulty" value="easy" />
    <span>easy</span>
  </label>

  <label class="radio">
    <input type="radio" name="difficulty" value="hard" />
    <span>hard</span>
  </label>
</div>

<h3>rounds</h3>
<div class="rounds">
  <label class="radio">
    <input type="radio" name="rounds" value="1" />
    <span>1</span>
  </label>

  <label class="radio">
    <input type="radio" name="rounds" value="2" />
    <span>2</span>
  </label>

  <label class="radio">
    <input checked type="radio" name="rounds" value="3" />
    <span>3</span>
  </label>

  <label class="radio">
    <input type="radio" name="rounds" value="4" />
    <span>4</span>
  </label>

  <label class="radio">
    <input type="radio" name="rounds" value="5" />
    <span>5</span>
  </label>
</div>

<div class="toolbelt">
  <button id="back-button">back</button>
  <button id="ready-button">ready</button>
</div>
