& {
  @include h1-font;
  $diameter: 40vh;
  background: $darker-purple;
  border-radius: $diameter / 2;
  display: block;
  height: $diameter;
  margin: auto;
  width: $diameter;
}

&.active {
  background: $dark-pink;
  color: $white;
}
