@import 'dimensions';

$_font-family: 'Rubik', sans-serif;
$body-font-size: 2.5vh;

@mixin body-font {
  $font-size: $body-font-size;
  font: 400 $font-size $_font-family;
  line-height: $font-size;
  margin: 0;
  padding: 0;
  text-align: center;
}

@mixin h1-font {
  $font-size: $body-font-size * 2;
  font: 500 $font-size $_font-family;
  line-height: $font-size;
  margin: 0;
  padding: 0;
  text-align: center;
}

@mixin h2-font {
  @include button-font;
}

@mixin button-font {
  $font-size: $body-font-size * 3 / 2;
  font: 500 $font-size $_font-family;
  letter-spacing: .5px;
  line-height: $font-size;
  text-align: center;
}
