@import 'const/colors';
@import 'const/dimensions';
@import 'const/fonts';

html,
body {
  background: $dark-purple;
  border: 0;
  color: $white;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;

  &.buzzer-active {
    background: $pink;
  }
}

body {
  box-sizing: border-box;
  padding: $grid * 6 $grid * 3;
  margin: 0 auto;
  max-width: 100vh;

  &.lobby {
    @import 'pages/lobby';
  }

  &.new {
    @import 'pages/new';
  }

  &.play {
    @import 'pages/play';
  }
}

h1 {
  @include h1-font;
  display: block;
  margin: 0 auto $grid * 4;
  position: relative;
  width: max-content;

  &::before {
    $height: $grid / 2;
    $left: $grid * 5 / 2;
    background: $pink;
    border-radius: $height / 2;
    bottom: $grid / -2;
    content: '';
    display: block;
    height: $height;
    left: $left;
    position: absolute;
    width: calc(100% - #{$left});
  }
}

p {
  @include body-font;
}

button {
  @import 'components/button';

  &.buzzer {
    @import 'components/buzzer';
  }
}

.toolbelt {
  @import 'components/toolbelt';
}
