@mixin _button-base {
  background: none;
  border: 0;
  color: $white;
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

@mixin button {
  @include _button-base;
  @include button-font;
  background: rgba($purple, 0.5);
  border-radius: $grid;
  padding: $grid * 3 / 2 $grid * 2;
  margin: $grid * 2 0;
  width: max-content;

  &.active {
    background: rgba($dark-pink, 0.5);
  }
}

@mixin buzzer {
  $diameter: 40vh;
  @include _button-base;
  @include h1-font;
  background: $dark-purple;
  border-radius: 50%;
  height: $diameter;
  margin: auto;
  width: $diameter;

  @at-root .buzzer-active & {
    background: $dark-pink;
  }
}
